# MongoDB
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/
MONGODB_DB_NAME=healthcare_supply_chain

# Elastic
ELASTIC_API_KEY=your_key_here
ELASTIC_ENDPOINT=https://your-deployment.es.io:443
ELASTIC_INDEX=geopolitical-events

# Arize
ARIZE_API_KEY=your_key_here
ARIZE_SPACE_ID=your_space_id_here
ARIZE_MODEL_ID=supply-chain-risk-agent

# Gemini / GCP
GEMINI_API_KEY=your_key_here
GOOGLE_CLOUD_PROJECT_ID=healthcare-supply-agent
GOOGLE_CLOUD_LOCATION=us-central1
